<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wiki Search</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-cyan.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="author" href="humans.txt">
        <script>
        	var myApp = myApp || {};
        		myApp.API_PATH = 'https://api.nytimes.com/svc/search/v2/articlesearch.json';
        </script>
    </head>
    <body ng-app="nytSearchApp" ng-controller="nytCtrl">
    	<!-- Always shows a header, even in smaller screens. -->
		<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		  <header class="mdl-layout__header">
		    <div class="mdl-layout__header-row">
		       <span class="mdl-layout-title">New York Times Search</span>
		      <div class="mdl-layout-spacer"></div>
		    </div>
		  </header>
		  
		  <div class="mdl-layout__drawer">
		    <span class="mdl-layout-title">NY Times Search</span>
		    <nav class="mdl-navigation">
		      <a class="mdl-navigation__link" href="">Link</a>
		    </nav>
		  </div>

		  <main class="mdl-layout__content wiki-main">
		    <div class="page-content">
		    	<div class="wiki-search-div">
		    		<div class="wiki-search-div__form">
		    			<form novalidate>
						  <div class="mdl-grid">
						  	<div class="mdl-cell mdl-cell--12-col">
						  		<div class="mdl-grid" style="padding:0px;!important;">
									<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
						  				<div class="mdl-textfield mdl-js-textfield  mdl-textfield--floating-label">
										 <input class="mdl-textfield__input" type="text" ng-model="search_city" id="search-city">
										 <label class="mdl-textfield__label wiki-search-text" for="search-city">Which city do you live...</label>
										</div>
									</div>
									<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-phone mdl-cell--4-col-tablet">
										<div id="search-nyt-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect search-btn" value="find">find</div>
									</div>
						  			</div>
						  		</div>
						  	</div>
						 </form>
						  </div>
		    		</div>
		    		<div class="wiki-search-div__results">
		    			<div style="padding:10px;" ng-cloak ng-show="error_status">{{error_message}}</div>
						<div ng-cloak class="mdl-card mdl-shadow--2dp wiki-search-div__results__card" ng-repeat='article in articles'>
							<div class="mdl-card__title">
							  <h2 class="mdl-card__title-text wiki-search-div__results__card__title-text">
							  	<span><a ng-href="{{article.web_url}}" target="_blank">{{article.headline.main}}</a></span>
							  </h2>
							</div>
							<div class="mdl-card__supporting-text wiki-search-div__results__card__support-text">
							    {{article.lead_paragraph}}
							</div>
						</div>	
					</div>
		    	</div>
		    </div>
		  </main>
		</div>
		<!--Dependancies-->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular.min.js'></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.11/angular-resource.min.js"></script>
    	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
        <!--Controllers and app-->
        <script src="app/app.js"></script>
        <script src='app/controllers/nytController.js'></script>
        <script src='app/services/nytServices.js'></script>
    </body>
</html>